In [73]:
import pandas as pd
import requests
import random

In [74]:
df=pd.read_csv("./CleanedData/CleanedHousingRecommenderDataset.csv")
attributes=['period_end','county','state','state_code','median_ppsf','tax_burden','medianage','cost_of_living_rank']
df=df[attributes]
df['tax_burden'] = df['tax_burden'].astype(str).apply(lambda x: x.split("%")[0]).astype(float)
df

,period_end,county,state,state_code,median_ppsf,tax_burden,medianage,cost_of_living_rank
0,2017-04-30,Morgan County,Alabama,AL,75.845434,7.45,39.0,40.0
1,2018-02-28,Tulsa County,Oklahoma,OK,89.765580,7.13,37.0,44.0
2,2021-01-31,Hood River County,Oregon,OR,300.167926,8.29,39.0,27.0
3,2015-08-31,Lamar County,Mississippi,MS,93.454628,8.99,38.0,15.0
4,2018-11-30,Pasco County,Florida,FL,115.155545,6.97,42.0,45.0
...,...,...,...,...,...,...,...,...
178998,2016-06-30,Ferry County,Washington,WA,43.217599,8.34,38.0,24.0
178999,2014-07-31,Newaygo County,Michigan,MI,75.000000,8.34,40.0,24.0
179000,2013-03-31,Gonzales County,Texas,TX,83.404488,8.19,35.0,30.0
179001,2016-06-30,Livingston Parish,Louisiana,LA,108.063175,8.82,37.0,19.0
179002,2018-09-30,Mayes County,Oklahoma,OK,84.753788,7.13,37.0,44.0

In [75]:
df.columns

Index(['period_end', 'county', 'state', 'state_code', 'median_ppsf',
       'tax_burden', 'medianage', 'cost_of_living_rank'],
      dtype='object')

In [87]:
forcasted_data=pd.read_csv("./CleanedData/ppsf_forecast.csv")
#Housing Recommender System\DataExtraction\CleanedData\ppsf_forecast.csv
df_subset=df[['county','state_code','tax_burden', 'medianage', 'cost_of_living_rank',]]
df_unique = df_subset.groupby(by=['county','state_code'], as_index=False).first()
forcasted_data=forcasted_data.drop(['month','year'],axis=1)
forcasted_data.rename(columns={'date':'period_end','state':'state_code'}, inplace=True)
df_predicted = forcasted_data.merge(df_unique, on=["state_code","county"], how = 'left')
df_predicted
#forcasted_data

,period_end,median_ppsf,county,state_code,tax_burden,medianage,cost_of_living_rank
0,2022-01-31,100.563884,Morgan County,AL,7.45,39.0,40.0
1,2022-02-28,98.752071,Morgan County,AL,7.45,39.0,40.0
2,2022-03-31,99.923069,Morgan County,AL,7.45,39.0,40.0
3,2022-04-30,104.868045,Morgan County,AL,7.45,39.0,40.0
4,2022-05-31,108.512793,Morgan County,AL,7.45,39.0,40.0
...,...,...,...,...,...,...,...
43603,2023-08-31,111.425594,Monroe County,OH,8.96,39.0,16.0
43604,2023-09-30,80.487974,Monroe County,OH,8.96,39.0,16.0
43605,2023-10-31,106.644334,Monroe County,OH,8.96,39.0,16.0
43606,2023-11-30,56.714675,Monroe County,OH,8.96,39.0,16.0
43607,2023-12-31,105.271315,Monroe County,OH,8.96,39.0,16.0

In [88]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
abbrev_to_state = dict([(value, key) for key, value in us_state_to_abbrev.items()])
df_predicted['state']=df_predicted['state_code'].apply(lambda value: abbrev_to_state[value])
df_predicted

,period_end,median_ppsf,county,state_code,tax_burden,medianage,cost_of_living_rank,state
0,2022-01-31,100.563884,Morgan County,AL,7.45,39.0,40.0,Alabama
1,2022-02-28,98.752071,Morgan County,AL,7.45,39.0,40.0,Alabama
2,2022-03-31,99.923069,Morgan County,AL,7.45,39.0,40.0,Alabama
3,2022-04-30,104.868045,Morgan County,AL,7.45,39.0,40.0,Alabama
4,2022-05-31,108.512793,Morgan County,AL,7.45,39.0,40.0,Alabama
...,...,...,...,...,...,...,...,...
43603,2023-08-31,111.425594,Monroe County,OH,8.96,39.0,16.0,Ohio
43604,2023-09-30,80.487974,Monroe County,OH,8.96,39.0,16.0,Ohio
43605,2023-10-31,106.644334,Monroe County,OH,8.96,39.0,16.0,Ohio
43606,2023-11-30,56.714675,Monroe County,OH,8.96,39.0,16.0,Ohio
43607,2023-12-31,105.271315,Monroe County,OH,8.96,39.0,16.0,Ohio

In [90]:
df_final=pd.concat([df,df_predicted])
#dfinal[dfinal['county']=='Miami-Dade County'].head(3392)
df_final

,period_end,county,state,state_code,median_ppsf,tax_burden,medianage,cost_of_living_rank
0,2017-04-30,Morgan County,Alabama,AL,75.845434,7.45,39.0,40.0
1,2018-02-28,Tulsa County,Oklahoma,OK,89.765580,7.13,37.0,44.0
2,2021-01-31,Hood River County,Oregon,OR,300.167926,8.29,39.0,27.0
3,2015-08-31,Lamar County,Mississippi,MS,93.454628,8.99,38.0,15.0
4,2018-11-30,Pasco County,Florida,FL,115.155545,6.97,42.0,45.0
...,...,...,...,...,...,...,...,...
43603,2023-08-31,Monroe County,Ohio,OH,111.425594,8.96,39.0,16.0
43604,2023-09-30,Monroe County,Ohio,OH,80.487974,8.96,39.0,16.0
43605,2023-10-31,Monroe County,Ohio,OH,106.644334,8.96,39.0,16.0
43606,2023-11-30,Monroe County,Ohio,OH,56.714675,8.96,39.0,16.0
43607,2023-12-31,Monroe County,Ohio,OH,105.271315,8.96,39.0,16.0

In [91]:
def getSchoolRatings(df):
    elem_school=[random.randint(1,10) for i in range(0,len(df))]
    middle_school=[random.randint(1,10) for i in range(0,len(df))]
    high_school=[random.randint(1,10) for i in range(0,len(df))]
    df['elementary_school_rating']=elem_school
    df['middle_school_rating']=middle_school
    df['high_school_rating']=high_school
    return df


df_subset=df[['county','state_code']]
df_unique = df_subset.groupby(by=['county','state_code'], as_index=False).first()
school_ratings=getSchoolRatings(df_unique)
df_final = df_final.merge(school_ratings, on=["state_code","county"], how = 'left')
#dfinal=dfinal[df.columns]
df_final

,period_end,county,state,state_code,median_ppsf,tax_burden,medianage,cost_of_living_rank,elementary_school_rating,middle_school_rating,high_school_rating
0,2017-04-30,Morgan County,Alabama,AL,75.845434,7.45,39.0,40.0,3,2,5
1,2018-02-28,Tulsa County,Oklahoma,OK,89.765580,7.13,37.0,44.0,2,1,3
2,2021-01-31,Hood River County,Oregon,OR,300.167926,8.29,39.0,27.0,8,9,7
3,2015-08-31,Lamar County,Mississippi,MS,93.454628,8.99,38.0,15.0,7,2,3
4,2018-11-30,Pasco County,Florida,FL,115.155545,6.97,42.0,45.0,10,10,2
...,...,...,...,...,...,...,...,...,...,...,...
222606,2023-08-31,Monroe County,Ohio,OH,111.425594,8.96,39.0,16.0,8,6,7
222607,2023-09-30,Monroe County,Ohio,OH,80.487974,8.96,39.0,16.0,8,6,7
222608,2023-10-31,Monroe County,Ohio,OH,106.644334,8.96,39.0,16.0,8,6,7
222609,2023-11-30,Monroe County,Ohio,OH,56.714675,8.96,39.0,16.0,8,6,7
222610,2023-12-31,Monroe County,Ohio,OH,105.271315,8.96,39.0,16.0,8,6,7

In [93]:
df_final.to_csv("./CleanedData/HousingRecommenderMetrics.csv")

Index(['period_end', 'county', 'state', 'state_code', 'median_ppsf',
       'tax_burden', 'medianage', 'cost_of_living_rank',
       'elementary_school_rating', 'middle_school_rating',
       'high_school_rating'],
      dtype='object')