In [6]:
import pandas as pd
import requests

In [7]:
df=pd.read_csv("CountyRedfinDataRaw.gz", sep='\t')

In [8]:
df.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [9]:
df=df[df['property_type']=='All Residential']
#df[df['region']=='Orange County, CA']
attributes=['period_end','region','state','state_code','median_ppsf']
df=df[attributes]
df['region'] = df['region'].str.split(',').str[0]
df.rename(columns={'region':'county'}, inplace=True)
df

        period_end             county        state state_code  median_ppsf
0       2017-04-30      Morgan County      Alabama         AL    75.845434
2       2018-02-28       Tulsa County     Oklahoma         OK    89.765580
11      2021-01-31  Hood River County       Oregon         OR   300.167926
13      2015-08-31       Lamar County  Mississippi         MS    93.454628
17      2018-11-30       Pasco County      Florida         FL   115.155545
...            ...                ...          ...        ...          ...
563114  2016-06-30       Ferry County   Washington         WA    43.217599
563116  2014-07-31     Newaygo County     Michigan         MI    75.000000
563117  2013-03-31    Gonzales County        Texas         TX    83.404488
563119  2016-06-30  Livingston Parish    Louisiana         LA   108.063175
563121  2018-09-30       Mayes County     Oklahoma         OK    84.753788

[179003 rows x 5 columns]

COVID CASES

In [74]:
from io import StringIO
API_KEY="2c581a67ac0045ff88f776e32dff0564"
response = requests.get(f"https://api.covidactnow.org/v2/counties.csv?apiKey={API_KEY}")
covid_data = StringIO(response.text) 
coviddf=pd.read_csv(covid_data)

In [75]:
coviddf.columns

Index(['fips', 'country', 'state', 'county', 'level', 'lat', 'locationId',
       'long', 'population', 'metrics.testPositivityRatio',
       'metrics.testPositivityRatioDetails.source', 'metrics.caseDensity',
       'metrics.contactTracerCapacityRatio', 'metrics.infectionRate',
       'metrics.infectionRateCI90', 'unused1', 'unused2',
       'metrics.icuCapacityRatio', 'riskLevels.overall',
       'riskLevels.testPositivityRatio', 'riskLevels.caseDensity',
       'riskLevels.contactTracerCapacityRatio', 'riskLevels.infectionRate',
       'unused3', 'riskLevels.icuCapacityRatio', 'actuals.cases',
       'actuals.deaths', 'actuals.positiveTests', 'actuals.negativeTests',
       'actuals.contactTracers', 'actuals.hospitalBeds.capacity',
       'actuals.hospitalBeds.currentUsageTotal',
       'actuals.hospitalBeds.currentUsageCovid', 'unused4',
       'actuals.icuBeds.capacity', 'actuals.icuBeds.currentUsageTotal',
       'actuals.icuBeds.currentUsageCovid', 'unused5', 'actuals.newCases',
       'actuals.vaccinesDistributed', 'actuals.vaccinationsInitiated',
       'actuals.vaccinationsCompleted', 'lastUpdatedDate', 'url',
       'metrics.vaccinationsInitiatedRatio',
       'metrics.vaccinationsCompletedRatio', 'actuals.newDeaths',
       'actuals.vaccinesAdministered', 'cdcTransmissionLevel',
       'actuals.vaccinationsAdditionalDose',
       'metrics.vaccinationsAdditionalDoseRatio'],
      dtype='object')

In [76]:
coviddf=coviddf[["state","county","actuals.cases","metrics.vaccinationsCompletedRatio","riskLevels.overall"]]

In [77]:
riskLevelMapper={0:"Low",1:"Medium",2:"High",3:"Critical",4:"Unknown",5:"Extreme"}
coviddf['Risk']=coviddf['riskLevels.overall'].apply(lambda value: riskLevelMapper[value])
coviddf.rename(columns={'state':'state_code','actuals.cases':'Daily Cases','metrics.vaccinationsCompletedRatio':' Percentage Fully Vaccinated','riskLevels.overall':'Covid Risk Index'}, inplace=True)

In [79]:
coviddf[coviddf['state_code']=='CA']

,state_code,county,Daily Cases,Percentage Fully Vaccinated,Risk Index,Risk
186,CA,Alameda County,259290,0.804,3,Critical
187,CA,Alpine County,126,0.636,2,High
188,CA,Amador County,8840,0.519,3,Critical
189,CA,Butte County,38643,0.522,3,Critical
190,CA,Calaveras County,7495,0.526,3,Critical
191,CA,Colusa County,4444,0.590,3,Critical
192,CA,Contra Costa County,195310,0.811,3,Critical
193,CA,Del Norte County,5820,0.466,5,Extreme
194,CA,El Dorado County,29173,0.602,3,Critical
195,CA,Fresno County,244801,0.597,3,Critical
196,CA,Glenn County,6390,0.540,3,Critical
197,CA,Humboldt County,19202,0.652,3,Critical
198,CA,Imperial County,64606,0.882,3,Critical
199,CA,Inyo County,4467,0.612,2,High
200,CA,Kern County,231871,0.523,5,Extreme
201,CA,Kings County,53066,0.439,5,Extreme
202,CA,Lake County,11037,0.538,5,Extreme
203,CA,Lassen County,10516,0.284,3,Critical
204,CA,Los Angeles County,2783657,0.719,3,Critical
205,CA,Madera County,42339,0.530,5,Extreme
206,CA,Marin County,34560,0.864,2,High
207,CA,Mariposa County,2907,0.438,2,High
208,CA,Mendocino County,15387,0.675,3,Critical
209,CA,Merced County,70048,0.502,3,Critical
210,CA,Modoc County,1536,0.414,5,Extreme
211,CA,Mono County,3072,0.624,2,High
212,CA,Monterey County,89400,0.708,3,Critical
213,CA,Napa County,25903,0.778,3,Critical
214,CA,Nevada County,16873,0.623,3,Critical
215,CA,Orange County,578444,0.716,2,High
216,CA,Placer County,68508,0.661,2,High
217,CA,Plumas County,2989,0.543,2,High
218,CA,Riverside County,608821,0.576,3,Critical
219,CA,Sacramento County,296151,0.662,3,Critical
220,CA,San Benito County,13168,0.705,3,Critical
221,CA,San Bernardino County,576582,0.556,3,Critical
222,CA,San Diego County,777194,0.801,3,Critical
223,CA,San Francisco County,129781,0.828,3,Critical
224,CA,San Joaquin County,171923,0.597,3,Critical
225,CA,San Luis Obispo County,54414,0.633,3,Critical
226,CA,San Mateo County,123477,0.833,3,Critical
227,CA,Santa Barbara County,88632,0.680,2,High
228,CA,Santa Clara County,315118,0.846,3,Critical
229,CA,Santa Cruz County,47352,0.741,3,Critical
230,CA,Shasta County,35853,0.458,3,Critical
231,CA,Sierra County,309,0.520,2,High
232,CA,Siskiyou County,7212,0.477,3,Critical
233,CA,Solano County,84110,0.656,3,Critical
234,CA,Sonoma County,82742,0.772,3,Critical
235,CA,Stanislaus County,133823,0.557,3,Critical
236,CA,Sutter County,21894,0.591,3,Critical
237,CA,Tehama County,14323,0.423,3,Critical
238,CA,Trinity County,1409,0.483,3,Critical
239,CA,Tulare County,129367,0.530,3,Critical
240,CA,Tuolumne County,12808,0.515,3,Critical
241,CA,Ventura County,179396,0.708,3,Critical
242,CA,Yolo County,38384,0.693,3,Critical
243,CA,Yuba County,17226,0.478,3,Critical

In [82]:
dfinal = df.merge(coviddf, on=["state_code","county"], how = 'left')

In [83]:
dfinal

,period_end,county,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_ppsf,median_list_price,homes_sold,homes_sold_mom,homes_sold_yoy,median_dom,Daily Cases,Percentage Fully Vaccinated,Risk Index,Risk
0,2017-04-30,Morgan County,Alabama,AL,All Residential,-1,120500.0,-0.076628,75.845434,147900.0,106.0,-0.109244,-0.131148,101.0,35533.0,0.430,3.0,Critical
1,2014-12-31,Hennepin County,Minnesota,MN,Multi-Family (2-4 Unit),4,203000.0,-0.171429,86.633333,210000.0,57.0,0.628571,-0.109375,76.0,291774.0,0.729,3.0,Critical
2,2018-02-28,Tulsa County,Oklahoma,OK,All Residential,-1,167500.0,0.021341,89.765580,179700.0,665.0,0.136752,0.084829,69.0,167129.0,0.605,3.0,Critical
3,2017-08-31,Crow Wing County,Minnesota,MN,Condo/Co-op,3,125000.0,-0.137931,147.076613,209900.0,3.0,2.000000,NaN,107.0,15620.0,0.558,3.0,Critical
4,2019-05-31,Tate County,Mississippi,MS,Single Family Residential,6,165000.0,-0.144635,85.000000,181444.0,19.0,0.000000,-0.050000,117.0,7222.0,0.442,3.0,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563117,2013-03-31,Gonzales County,Texas,TX,All Residential,-1,291500.0,2.285210,83.404488,65000.0,2.0,0.000000,-0.333333,458.0,4417.0,0.486,1.0,Medium
563118,2013-09-30,Valley County,Idaho,ID,Townhouse,13,221500.0,1.605882,131.923764,NaN,1.0,0.000000,0.000000,170.0,2445.0,0.613,3.0,Critical
563119,2016-06-30,Livingston Parish,Louisiana,LA,All Residential,-1,173990.0,0.030136,108.063175,181295.0,197.0,0.165680,0.026042,50.0,36759.0,0.391,2.0,High
563120,2017-09-30,Gloucester County,Virginia,VA,Single Family Residential,6,170000.0,0.013050,113.502506,185000.0,9.0,0.285714,-0.181818,91.0,7166.0,0.659,3.0,Critical
563121,2018-09-30,Mayes County,Oklahoma,OK,All Residential,-1,128000.0,0.082452,84.753788,172500.0,33.0,0.178571,0.222222,72.0,10072.0,0.427,3.0,Critical

In [85]:
dfinal.to_csv("HousingDatasetwithCovidData.csv",index=False)

In [98]:
taxesDf=pd.read_csv("TaxBurdenDataset.txt")
taxesDf.rename(columns={'State':'state'}, inplace=True)

In [94]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [99]:
#taxesDf['state_code']=taxesDf['state'].apply(lambda value: us_state_to_abbrev[value])
taxesDf

    Cost of Living Rank           state Total Tax Burden
0                     1        New York           12.79%
1                     2          Hawaii           12.19%
2                     3         Vermont           10.75%
3                     4           Maine           10.50%
4                     5     Connecticut           10.44%
5                     6       Minnesota            9.99%
6                     7      New Jersey            9.98%
7                     8    Rhode Island            9.69%
8                     9        Illinois            9.52%
9                    10      California            9.48%
10                   11          Kansas            9.36%
11                   12        Maryland            9.32%
12                   13            Iowa            9.26%
13                   14        Nebraska            9.01%
14                   15     Mississippi            8.99%
15                   16            Ohio            8.96%
16                   17       Wisconsin            8.89%
17                   18   West Virginia            8.84%
18                   19       Louisiana            8.82%
19                   20        Arkansas            8.80%
20                   21   Massachusetts            8.77%
21                   22        Kentucky            8.58%
22                   23    Pennsylvania            8.46%
23                   24        Michigan            8.34%
24                   24      Washington            8.34%
25                   26        Colorado            8.31%
26                   27          Oregon            8.29%
27                   27            Utah            8.29%
28                   29          Nevada            8.23%
29                   30         Arizona            8.19%
30                   30      New Mexico            8.19%
31                   30           Texas            8.19%
32                   33         Indiana            8.15%
33                   34  North Carolina            8.07%
34                   35         Georgia            7.91%
35                   36           Idaho            7.88%
36                   37        Virginia            7.86%
37                   38    North Dakota            7.81%
38                   39        Missouri            7.75%
39                   40         Alabama            7.45%
40                   40         Montana            7.45%
41                   40  South Carolina            7.45%
42                   43    South Dakota            7.37%
43                   44        Oklahoma            7.13%
44                   45         Florida            6.97%
45                   46   New Hampshire            6.84%
46                   47        Delaware            6.21%
47                   48         Wyoming            6.14%
48                   49       Tennessee            5.74%
49                   50          Alaska            5.10%

In [100]:
dfinal1 = dfinal.merge(taxesDf, on=["state"], how = 'left')
dfinal1

,period_end,county,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_ppsf,median_list_price,homes_sold,homes_sold_mom,homes_sold_yoy,median_dom,Daily Cases,Percentage Fully Vaccinated,Risk Index,Risk,Cost of Living Rank,Total Tax Burden
0,2017-04-30,Morgan County,Alabama,AL,All Residential,-1,120500.0,-0.076628,75.845434,147900.0,106.0,-0.109244,-0.131148,101.0,35533.0,0.430,3.0,Critical,40.0,7.45%
1,2014-12-31,Hennepin County,Minnesota,MN,Multi-Family (2-4 Unit),4,203000.0,-0.171429,86.633333,210000.0,57.0,0.628571,-0.109375,76.0,291774.0,0.729,3.0,Critical,6.0,9.99%
2,2018-02-28,Tulsa County,Oklahoma,OK,All Residential,-1,167500.0,0.021341,89.765580,179700.0,665.0,0.136752,0.084829,69.0,167129.0,0.605,3.0,Critical,44.0,7.13%
3,2017-08-31,Crow Wing County,Minnesota,MN,Condo/Co-op,3,125000.0,-0.137931,147.076613,209900.0,3.0,2.000000,NaN,107.0,15620.0,0.558,3.0,Critical,6.0,9.99%
4,2019-05-31,Tate County,Mississippi,MS,Single Family Residential,6,165000.0,-0.144635,85.000000,181444.0,19.0,0.000000,-0.050000,117.0,7222.0,0.442,3.0,Critical,15.0,8.99%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563117,2013-03-31,Gonzales County,Texas,TX,All Residential,-1,291500.0,2.285210,83.404488,65000.0,2.0,0.000000,-0.333333,458.0,4417.0,0.486,1.0,Medium,30.0,8.19%
563118,2013-09-30,Valley County,Idaho,ID,Townhouse,13,221500.0,1.605882,131.923764,NaN,1.0,0.000000,0.000000,170.0,2445.0,0.613,3.0,Critical,36.0,7.88%
563119,2016-06-30,Livingston Parish,Louisiana,LA,All Residential,-1,173990.0,0.030136,108.063175,181295.0,197.0,0.165680,0.026042,50.0,36759.0,0.391,2.0,High,19.0,8.82%
563120,2017-09-30,Gloucester County,Virginia,VA,Single Family Residential,6,170000.0,0.013050,113.502506,185000.0,9.0,0.285714,-0.181818,91.0,7166.0,0.659,3.0,Critical,37.0,7.86%
563121,2018-09-30,Mayes County,Oklahoma,OK,All Residential,-1,128000.0,0.082452,84.753788,172500.0,33.0,0.178571,0.222222,72.0,10072.0,0.427,3.0,Critical,44.0,7.13%

In [101]:
dfinal1.to_csv("DataWCovidTaxes.csv",index=False)

In [104]:
ageDf=pd.read_csv("averageAgeRawDataset.csv")
ageDf.rename(columns={'State':'state'}, inplace=True)
ageDf

             state  MedianAge
0            Maine         45
1    West Virginia         43
2          Vermont         43
3    New Hampshire         43
4          Florida         42
5     Pennsylvania         41
6         Delaware         41
7      Connecticut         41
8        Wisconsin         40
9     Rhode Island         40
10      New Jersey         40
11         Montana         40
12        Michigan         40
13   Massachusetts         40
14       Tennessee         39
15  South Carolina         39
16          Oregon         39
17            Ohio         39
18  North Carolina         39
19        New York         39
20        Missouri         39
21        Maryland         39
22        Kentucky         39
23          Hawaii         39
24         Alabama         39
25         Wyoming         38
26      Washington         38
27        Virginia         38
28      New Mexico         38
29          Nevada         38
30     Mississippi         38
31       Minnesota         38
32            Iowa         38
33         Indiana         38
34        Illinois         38
35        Arkansas         38
36         Arizona         38
37    South Dakota         37
38        Oklahoma         37
39        Nebraska         37
40       Louisiana         37
41          Kansas         37
42         Georgia         37
43        Colorado         37
44      California         37
45           Idaho         36
46           Texas         35
47    North Dakota         35
48          Alaska         34
49            Utah         31

# dfinalAge = dfinal1.merge(ageDf, on=["state"], how = 'left')
dfinalAge

In [106]:
dfinalAge.to_csv("HousingRecommenderFinalDataset.csv",index=False)